* {
  box-sizing: border-box;
}

.fas {
  padding: 0 2px;
}

p {
  font-size: 0.9em;
  line-height: 1.9;
}

.pointer {
  cursor: pointer;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      to bottom,
      rgba(1, 0, 14, 0.932),
      rgba(1, 3, 34, 0.692)
    ),
    url("../images/oyejideoyetunji.jpg") no-repeat 0 0;
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  display: flex;
  flex-direction: row;
}

.side-nav {
  width: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.nav-list {
  margin: 0;
  width: 100%;
  height: 60%;
  background: #7e7ee2;
  border-radius: 40px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-9 {
  width: 50%;
  height: 100vh;
  margin: auto;
  padding: 12px;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
}
.title-center {
  text-align: center;
  padding: 0.2rem;
}

.full-name {
  letter-spacing: 6px;
}

@media screen and (max-width: 700px) {
  .col-9 {
    width: calc(100% - 40px);
  }
}
